* {
    margin: 0;
    padding: 0;
}

.body {
    width: 1020px;
    height: 730px;
    margin: 0 auto;
    background-color: #d48dd4;
    cursor: default;
}

.quote {
    width: 96%;
    margin-left: 40px;
    height: 648px;
    padding-top: 67px;
}

.quote_title {
    font-size: 30px;
    line-height: 23px;
    color: #f0d8d9;
    font-family: "Lato-M";
    font-weight: 900;
    text-align: left;
}

.quote_info {
    margin-top: 24px;
    margin-bottom: 56px;
    width: 96%;
    height: 47px;
    font-size: 17px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato-L";
    font-weight: 300;
    text-align: justify;
    letter-spacing: 0.2px;
}

.quote_block {
    width: 100%;
    height: 654px;
    background-color: #f06c64;
}

.input {
    width: 605px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #fad3d4;
    font-family: "Lato-M";
    font-weight: 900;
    border-radius: 5px;
    background-color: #d6564f;
    border: 0px;
}

.input:hover {
    background-color: #862c27;
}

.submit {
    margin-top: 10px;
    width: 100px;
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    border: 0px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    cursor: pointer;
}

.submit:hover {
    background-color: #862c27;
}

.quote_form {
    display: flex;
    justify-content: space-between;
    height: 364px;
    width: 940px;
}

.text {
    height: 38px;

    margin-bottom: 17px;
}

.email {
    height: 38px;

    margin-bottom: 16px;
}

.subject {
    height: 38px;

    margin-bottom: 15px;
}

.textarea {
    padding-top: 7px;
    height: 195px;

    outline: none;
    resize: none;
}

.input::placeholder {
    margin-left: 30px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;

}

.form_block {
    display: block;
    width: 618px;
    height: 100%;
}

.form_info {
    height: 194px;
    width: 301px;
}

.form_title {
    font-size: 19px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 11px;
}

.contact_info {
    font-size: 11px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato-L";
    font-weight: 400;
    text-align: justify;
    letter-spacing: 0.4px;
}

.contacts {
    width: 200px;
    height: 100px;
    margin-top: 20px;
}

.contact {
    width: 200px;
    display: flex;
    height: 22px;
    align-items: center;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    cursor: pointer;
}

.contact_img {
    margin-left: 3px;
    margin-right: 9px;
}

.location {
    margin-right: 13px;
}

.contact_link {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    text-decoration: none;
}

.contact_link:hover {
    color: #000000;
}

.quote_bottom {
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.footer {
    width: 100%;
    height: 76px;
    background-color: #2d303a;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.copyright {
    margin-left: 44px;
    font-size: 12px;
    color: #666d89;
    font-family: "Lato-L";
    font-weight: 300;
}

.footer_contacts {
    margin-right: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 154px;
    height: 40px;
}

.contact_circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 16px;
    border: 1px solid #666d89;
    cursor: pointer;
}

.contact_circle:hover {
    background-color: #b3b3b9;
    border: 1px solid #000000;
}



@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-M";
    src: url("assets/fonts/Lato-Medium.ttf");
}

@font-face {
    font-family: "Lato-L";
    src: url("assets/fonts/Lato-Light.ttf");
}