* {
    margin: 0;
    padding: 0;
}

.body {
    width: 1020px;
    height: 1190px;
    margin: 0 auto;
    background-color: #2d303a;
    cursor: default;
}

.header {
    width: 100%;
    height: 91px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 40px;
    font-size: 25px;
    line-height: 6px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
    text-transform: uppercase;
}

.dote {
    color: #f06c64;
}

.nav_panel {
    display: flex;
    margin-right: 40px;
    align-items: center;
    width: 371px;
    height: 100%;
}

.list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    height: 100%;
    align-items: center;
}

.item {
    display: flex;
    height: 100%;
    color: #494e62;
    font-size: 12px;
    line-height: 6px;
    font-family: "Lato";
    align-items: center;
}

.link {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
}

.link:hover {
    color: #f06c64;
}


.main {
    width: 100%;
    height: 600px;
    background-color: #f06c64;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointer {
    width: 81px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pointer:hover .arrow {
    border-color: black;
}

.pointer:hover {
    background-color: #c94549;
}

.arrow {
    display: block;
    width: 20px;
    height: 20px;
    border: solid #c94549;
    border-width: 0 7px 7px 0;
    border-radius: 5px;
    display: inline-block;
}

.left {
    transform: rotate(135deg);
}

.right {
    transform: rotate(-45deg);
}

.phone1_box {
    width: 240px;
    height: 483px;
}

.shadow1{
    width: 100%;
    height: 100%;
    background-image: url(assets/shadow1.svg);
}
.phone2_box {
    width: 483px;
    height: 240px;
}

.phone {

    border-radius: 27px;
    background-color: #f2f2f2;
}

.one {
    display: block;
    width: 215px;
    height: 458px;
}

.camera1_box {
    width: 100%;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera1 {
    width: 9px;
    height: 9px;
    border-radius: 4px;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera1_dote {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #eb5055;
}

.speaker1_box {
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
}

.speaker1 {
    width: 36px;
    height: 5px;
    border-radius: 3px;
    background-color: #acacac;
}

.screen1_box {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 333px;

}

.screen1 {
    width: 188px;
    border: 3px solid #c6c6c6;
    border-radius: 4px;
    height: 333px;
    background-image: url(./assets/phone1.svg);
    background-position: -14px -135px;
}

.home_button1_box {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
}

.home_button1-circle {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_button1-square {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white_square{
    width: 11px;
    height: 12px;
    border-radius: 3px;
    background-color: #fafafa;
}

.phone {
    border-radius: 27px;
    background-color: #f2f2f2;
}

.two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 215px;
    width: 458px;
}
.camera{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 6px;
    width: 30px;
    height: 100%;
}
.speaker_box{
    width: 29px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.speaker{
    width: 5px;
    height: 36px;
    border-radius: 2px;
    background-color: #acacac;
}
.screen_box{
    width: 339px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.screen{
    width: 333px;
    height: 188px;
    border: 3px solid #c6c6c6;
    border-radius: 4px;
    background-image: url(assets/phone2.svg);
    background-position: -125px -119px;
}
.home_button_box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
}
.shadow2{
    width: 100%;
    height: 100%;
    background-image: url(assets/shadow2.svg);
}


.footer {
    width: 100%;
    height: 499px;
    background-color: #f2f2f2;
}

@font-face {
    font-family: "Lato";
    src: url("assets/fonts/Lato-Regular.ttf");
}