@media screen and (min-width: 1020px){
    .body{
        background-color: #ff0000;
    }
}
@media screen and (min-width: 768px) and (max-width: 1020px){
    .body{
        background-color: #00ff15;
    }
}
@media screen and (min-width: 375px) and (max-width:768px){
    .body{
        background-color: #4c00ff;
    }
}
@media screen and (max-width: 375px){
    .body{
        background-color: #ff00dd;
    }
}